/*navigation*/
#navbar {
    flex-direction: column;
}
/*Home section*/
#Home{
    height:380px;
}

#Home::before{
    height: 480;
}
#Home p{
    font-size: 13px;
}

/*Service secton*/
#Services{
    flex-direction: column;
}

/*clients section*/
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 56px;
}
/*Contact us section*/

/* footer */

/*Utility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}