/*css reset*/
*{
    margin: 0;
    padding: 0;
}
/*css variable*/
:root{
    --navbar-height:59px;
}
/*navigation bar*/

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    top:0px;
}

h1.center, h2.center, h3.center{
    text-align: center;
}

#navbar::before{
    content: "";
    background-color:black;
    position:absolute;
    top:0px;
    left: 0px;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.7;
}
/*navigation bar: logo and image*/
#logo{
    margin: 10px 34px;;
}

#logo img{
height: 56px;
margin: 3px 6px;
}
/*navigation bar:list styling*/
#navbar ul{
    display: flex;
    font-family: 'sheikh',cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a :hover{
    color: black;
    background-color: white;
}

/*home section*/
#Home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
}
#Home::before{
    content: "";
    background:url(../backlogo.png);
    position:absolute;
    height:642px;
    width: 100vw;
    top:0;
    left: 0px;
    z-index: -1;
    opacity: 0.89;
}

.container-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#Home h1{
    color:black;
    text-align: center;
}
#Home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

#Services{
    display: flex;
}
/*service section*/
#Services section{
    margin: 34px;
    display: flex;
}
#Services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    width: 33%;
}
#Services .box img{
    height: 160px;
    margin: auto;
    display: block;
    object-fit: cover;
}
#Services .box p{
    font-family: 'Beer serif',serif;

}
/*clients section*/
#client-section{
   height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../images.png');
    width: 100%;
    height: 65%;
    z-index: -1;
    opacity: 0.9;
}

#client-section .h-primary{
    color: white;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
height: 124px;
} 
#Contact{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

#Contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
    opacity: 1;
    background:url('../cover4.png') no-repeat center center/cover;

}

#Contact .h-primary{
    color:white;
}

footer{
    background:black;
    color: white;
    padding: 9px 20px;
}

/*utility classes*/
.h-primary{
    font-family: 'Beer serif',serif;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-family:'Beer serif',serif;
    font-size: 2.3rem;
    padding: 12px;
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color:brown;
    color:white;
    margin:17px;
    font-size: 1.5rem;
    border-radius:10px;
    cursor: pointer;
}
.center{
    text-align: center;
}

.Services-container{
        background: white;
    padding-bottom: 50px;
}


#Contact-box{
    width: 50%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 6px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 30px;
}

#Contact-box form{
    width: 100%;
}
#Contact-box .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#Contact-box input {
    border: none;
    border-bottom: 1px solid #948f8f73;
    margin-bottom: 10px;
}

.center{
    text-align: center;
}


#Contact-box input[type="submit"]{
    padding: 10px 0;
    margin-top: 10px;
}